body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

* {
	box-sizing: border-box;
}

.overflow-carousel {
	position: relative;
	width: 95%;
	margin: 0 auto;
	overflow: hidden;
}

.overflow-carousel__container {
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	scroll-behavior: smooth;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 100px;
}


/** This is a 'list' or collection of items **/
.overflow-carousel__content {
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}

.overflow-carousel__item {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}

.overflow-carousel__nav {
	position: absolute;
	width: 100%;
	margin: 0;
	padding: 0;
	top: 50%;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}

.overflow-carousel__nav-btn {
	position: absolute;
	width: 48px;
	height: 48px;
	line-height: 48px;
	border-radius: 100%;
	background-color: white;
	text-align: center;
	transform: translateY(-50%);
	margin: 0;
	padding: 0;
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 1px 2px 0 rgba(0,0,0,0.06);
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: 16px;
	background-position: center;
	transition: opacity .3s ease-in-out, transform .2s .5s;
	opacity: 0;
	transform: translateY(-1000em);
}

.overflow-carousel__nav-btn:hover {
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.12), 0 3px 15px 0 rgba(0,0,0,0.06);
}

.overflow-carousel__nav-btn.visible {
	opacity: 1;
	transform: translateY(-50%);
	transition: opacity .3s ease-in-out, transform .2s 0s;
}

.overflow-carousel__nav-btn[data-direction="right"] {
	right: 8px;
	background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>chevron-right</title><path fill="charcoal" d="M6 13.4l-1.4-1.4 4-4-4-4 1.4-1.4 5.4 5.4z"></path></svg>');
}

.overflow-carousel__nav-btn[data-direction="right"]:hover{
	background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>chevron-right</title><path fill="purple" d="M6 13.4l-1.4-1.4 4-4-4-4 1.4-1.4 5.4 5.4z"></path></svg>');
}

.overflow-carousel__nav-btn[data-direction="left"] {
	left: 8px;
	background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>chevron-left</title><path fill="charcoal" d="M10 2.6l1.4 1.4-4 4 4 4-1.4 1.4-5.4-5.4z"></path></svg>');

}
.overflow-carousel__nav-btn[data-direction="left"]:hover {
	background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>chevron-left</title><path fill="purple" d="M10 2.6l1.4 1.4-4 4 4 4-1.4 1.4-5.4-5.4z"></path></svg>');

}

.card {
	width: 150px;
	height: 115px;
	margin: 8px;
	padding: 0;
	border: solid 1px lightgrey;
	border-radius: 4px;
	background-color: white;
	transition: transform .3s ease-in-out, box-shadow .3s ease-in-out;
	will-change: transform;
}

.card:not(.card--more):hover {
	box-shadow: 0 0 1px 0 rgba(0,0,0,0.12), 0 2px 6px 0 rgba(0,0,0,0.05);
}

.card--more {
	border: none;
}

.card--more a {
	text-decoration: none;
	color: inherit;
	display: block;
	text-align: center;
}

.card--more a::before {
	content: '';
	display: block;
	width: 48px;
	height: 48px;
	margin: 16px auto;
	background: white url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16"><title>chevron-right</title><path fill="purple" d="M6 13.4l-1.4-1.4 4-4-4-4 1.4-1.4 5.4 5.4z"></path></svg>') no-repeat center;
	border-radius: 100%;
	box-shadow: 0 1px 1px rgba(0,0,0,0.12);
	transition: background .2s ease-in-out;
}

.card--more:hover {
	color: purple;
}

.card--more:hover a::before {
	background-color: purple;
	background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16"><title>chevron-right</title><path fill="white" d="M6 13.4l-1.4-1.4 4-4-4-4 1.4-1.4 5.4 5.4z"></path></svg>');
}


.card img {
	width: 100%;
	max-width: 150px;
	max-height: 100px;
	display: inline-block;
	margin: 0 auto;
	vertical-align: text-top;
}
.overflow-carousel__item.out-of-bounds .card {
	border: solid 1px red;
}